extends layout

block content
  if (!user)
    a(href="/users/login") Login
    br
    a(href="/users/signup") Register
  if (user)
    p You are currently logged in as #{user.username}
    a(href="/logout") Logout
